@import "./modules/variable";
@import "./modules/common";

.slider {
  background: linear-gradient(to right, #ff6933, #142266);
  height: 550px;

  h2 {
    height: 100px;
    padding-left: 101px;
    background: url($imgPath + 'logo_white.png') no-repeat left center;
    background-size: auto 100px;
    @extend .font-oneMobile;
    font-size: 36px;
    letter-spacing: -1.44px;
    color: $colWhite;
    line-height: 1.33;
    text-align: center;
  }
}
