@import "./modules/variable";
@import "./modules/common";

.slider {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff6933),
    to(#142266)
  );
  background: -o-linear-gradient(left, #ff6933, #142266);
  background: linear-gradient(to right, #ff6933, #142266);
  height: 550px;
  padding: 40px 0;

  &-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &-tab {
    &-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px;
      flex-wrap: wrap;

      li {
        margin: 0 5px;

        button {
          width: 48px;
          height: 48px;
          border-radius: 16px;
          color: $colWhite;
          background: $colBlack40;
          @extend .font-sCoreDream;
          font-size: 16px;
          line-height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
        }

        &.on {
          button {
            background: $colWhite;
            color: $fontBlack;
            font-weight: 600;
          }
        }
      }
    }

    &-con {
      display: none;

      &.on {
        display: block;
      }
    }
  }

  &-item {
    width: calc(25% - 12px);
    @extend .font-sCoreDream;
    background: $colWhite;
    margin: 0 8px;
    float: left;

    .item {
      &-top {
        height: 40px;
        background: $colSliderTop;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        color: $fontBlack;
        font-weight: 600;
      }

      &-middle {
        padding: 20px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      &-team {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 80px;
        }

        p {
          font-size: 13px;
          letter-spacing: -0.52px;
          color: $fontLightBlack;
          font-weight: 600;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 101px;
          margin-top: 10px;
        }
      }

      &-score {
        height: 80px;
        line-height: 80px;
        margin: 0 20px;
        font-size: 24px;
        color: $fontBlack;
        font-weight: bold;
        @extend .font-pretendard;
        white-space: nowrap;
      }

      &-bottom {
        padding: 0 10px 20px;

        .btn-broadcast {
          width: 100%;
          line-height: 40px;
          text-align: center;
          @extend .btn-blue;
          @extend .font-sCoreDream;
          font-size: 14px;
          font-weight: 600;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          &::after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url($imgPath + "ico_tv.svg") no-repeat center;
            margin-left: 8px;
          }

          &:disabled {
            background-color: $btnGray;
            color: $colWhitek40;

            &::after {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }

  h2 {
    height: 100px;
    padding-left: 101px;
    background: url($imgPath + "logo_white.png") no-repeat left center;
    background-size: auto 100px;
    @extend .font-oneMobile;
    font-size: 36px;
    letter-spacing: -1.44px;
    color: $colWhite;
    line-height: 1.33;
    text-align: center;
    display: inline-block;
  }
}

.container {
  margin: 0 auto;
  max-width: 128rem;
  width: 100%;

  h3 {
    @extend .font-oneMobile;
    font-size: 30px;
    letter-spacing: -1.2px;
    text-align: left;
  }

  .main {
    background: $bgMain;

    &-item {
      max-width: 1280px;
      margin: 0 auto;
      padding: 60px 0;
      width: 100%;

      & + .main-item {
        padding-top: 0;
      }
    }

    &-wrap {
      max-width: 1320px;
      margin: 0 auto;
      padding: 40px 20px;
      width: 100%;

      h3 {
        margin-bottom: 20px;
      }

      .tabs {
        margin-bottom: 80px;

        .list {
          &-tit {
            .text {
              background: $bgMain;
            }

            .line {
              border-bottom: 1px solid $colGray;
            }
          }

          &-chose {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow-x: scroll;
            max-width: 1280px;
            width: 100%;
            padding: 20px 25px;
            background: $colWhite;

            .team {
              margin-right: 35px;
              flex-shrink: 1;

              &-img {
                width: 64px;
                height: 64px;
                margin: 0px auto 8px;

                img {
                  width: 100%;
                }
              }

              &-name {
                @extend .font-sCoreDream;
                font-size: 13px;
                font-weight: 500;
                line-height: 1.38;
                letter-spacing: -0.52px;
                text-align: center;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }

      .info {
        margin-bottom: 40px;

        .tab-cont {
          display: none;

          &:target {
            display: block;
          }

          h2 {
            @extend .font-oneMobile;
            font-size: 40px;
            letter-spacing: -1.6px;
            text-align: left;
            margin-bottom: 10px;
          }

          .info-box {
            display: flex;
            width: 100%;
            background: $colWhite;
            padding: 20px;
            margin-bottom: 40px;
            border-top: 2px solid $colNavy;

            .img {
              width: 200px;
              height: 200px;
              margin-right: 50px;

              img {
                width: 100%;
              }
            }

            .text {
              width: calc(100% - 200px);

              &-box {
                margin-bottom: 20px;

                h5 {
                  @extend .font-oneMobile;
                  font-size: 20px;
                  line-height: 1.1;
                  letter-spacing: -0.8px;
                  text-align: left;
                  margin-bottom: 10px;
                }

                > div {
                  background: $bgMain;
                  padding: 20px;

                  ol {
                    li {
                      label {
                        @extend .font-sCoreDream;
                        display: inline-block;
                        min-width: 40px;
                        font-size: 14px;
                        font-weight: bolder;
                        line-height: 1.71;
                        letter-spacing: -0.56px;
                        text-align: left;
                        color: #222;
                      }

                      span {
                        @extend .font-sCoreDream;
                        font-size: 14px;
                        line-height: 1.71;
                        letter-spacing: -0.56px;
                        text-align: left;
                        color: #222;
                      }
                    }
                  }

                  p {
                    @extend .font-sCoreDream;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: -0.56px;
                    text-align: left;
                    color: $fontLightBlack;
                  }
                }
              }
            }
          }
          .info-player {
            .list {
              &-tit {
                .text {
                  background: $bgMain;
                }

                .line {
                  border-bottom: 1px solid $colGray;
                }
              }
            }
            &__list {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              li {
                position: relative;
                width: calc(25% - 12px);
                margin-right: 15px;
                margin-top: 15px;
                img {
                  background: $colBlue;
                  width: 100%;
                }
                &:nth-child(4n) {
                  margin-right: 0;
                }
                .detail {
                  width: 90%;
                  display: inline-block;
                  position: absolute;
                  bottom: 20px;
                  left: 20px;
                  &-name {
                    display: flex;
                    align-items: end;
                    margin-bottom: 15px;
                    h6 {
                      @extend .font-oneMobile;
                      font-size: 30px;
                      font-weight: normal;
                      line-height: 1.13;
                      letter-spacing: -1.2px;
                      color: $colWhite;
                      margin-right: 10px;
                    }
                    span {
                      @extend .font-sCoreDream;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 1.71;
                      letter-spacing: -0.56px;
                      color: $colWhite;
                    }
                  }
                  &-info {
                    width: 85%;
                    display: inline-block;

                    p {
                      @extend .font-sCoreDream;
                      font-size: 13px;
                      line-height: 1.6;
                      letter-spacing: -0.6px;
                      color: $colWhite;
                    }
                    &::before {
                      content: "";
                      display: inline-block;
                      margin-bottom: 15px;
                      width: 40px;
                      height: 2px;
                      background: $colOrange;
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 768px) {
          .tab-cont {
            .info-box {
              flex-direction: column;
              .img {
                width: 160px;
                height: 160px;
                /* margin-right: 50px; */
                margin: 0 auto 20px;
                display: block;
              }
              .text {
                width: 100%;
                &-box {
                  ol {
                    li {
                      display: flex;
                    }
                  }
                }
              }
            }
            .info-player {
              &__list {
                flex-wrap: nowrap;
                justify-content: space-between;
                overflow-x: scroll;
                max-width: 1280px;
                width: 100%;
                li {
                  width: 286px;
                  height: auto;
                  flex-shrink: 0;
                  img {
                    width: 100%;
                  }
                  &:nth-child(4n) {
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-contents {
      overflow: hidden;
      margin-top: 10px;

      .team {
        &-item {
          float: left;
          width: calc(16.67% - 13.4px);
          margin: 0 16px 0 0;
        }

        &-logo {
          width: 100%;
          padding: 40px;
          border-radius: 50%;
          background: $colWhite;
          display: flex;
        }

        &-name {
          @extend .font-sCoreDream;
          font-size: 17px;
          letter-spacing: -0.68px;
          color: $fontBlack;
          font-weight: 600;
          text-align: center;
          margin-top: 10px;
        }
      }

      &#team {
        .slick {
          &-list {
            margin: 0 -8px 0 0;
          }
        }
      }
    }
  }

  .sponsor {
    background: $colWhite;

    &-wrap {
      max-width: 1280px;
      margin: 0 auto;
      padding: 40px 20px;
      width: 100%;

      h3 {
        margin-bottom: 20px;
      }

      .list {
        &-tit {
          .text {
            background: $colWhite;
          }
        }
      }
    }
  }
}

.lanking {
  display: flex;

  .left {
    width: 100%;
    position: relative;
  }

  .right {
    width: 32.5%;
    margin-left: 16px;
    padding-top: 44px;
    flex-shrink: 0;

    a {
      display: block;
      width: 100%;
      height: 179px;
      @extend .font-sCoreDream;
      color: $colWhite;
      line-height: 1;
      padding: 30px;
      background: url($imgPath + "main_link_01.png") no-repeat center right;
      background-size: cover;
      position: relative;

      & + a {
        margin-top: 16px;
        background-image: url($imgPath + "main_link_02.png");
      }

      &::after {
        content: "";
        width: 24px;
        height: 20px;
        background: url($imgPath + "ico_right.svg");
        position: absolute;
        left: 30px;
        bottom: 30px;
        transition: 0.2s;
      }

      &:hover {
        &::after {
          left: 35px;
        }
      }

      p {
        font-size: 30px;
        letter-spacing: -1.2px;
        @extend .font-oneMobile;
        margin-bottom: 8px;
      }

      span {
        font-size: 15px;
        letter-spacing: -0.6px;
      }
    }
  }

  &-tab {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 5px;

      &.on {
        .btn {
          @extend .btn-blue;
        }
      }
    }
  }

  &-tabcon {
    display: none;
    min-height: 375px;

    &.on {
      display: block;
    }
  }

  &-table {
    margin-top: 10px;
    @extend .font-sCoreDream;

    th {
      &:last-child {
        padding-right: 10px;
      }
    }

    td {
      vertical-align: middle;
      height: 57px;
      padding: 0 10px;
      text-align: center;
      color: $fontLightBlack;
      font-size: 14px;

      &:first-child {
        font-size: 24px;
        font-weight: bold;
        @extend .font-oneMobile;
        color: $fontBlack;
      }

      &:last-child {
        padding-right: 20px;
      }

      &:nth-child(3) {
        text-align: left;
        font-size: 17px;
        letter-spacing: -0.68px;
        color: $fontBlack;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        background: $colWhite;
        border-bottom: 1px solid $borderGray;

        &:last-child {
          border-bottom: 0;
        }

        &:nth-child(2n) {
          background: $colSliderTop;
        }
      }
    }

    img {
      max-width: 40px;
    }
  }
}

.photo {
  &-item {
    float: left;
    width: calc(33.33% - 10.7px);
    height: auto;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::nth-child(3n) {
      margin-right: 0;
    }
  }
}

.slick {
  &-arrow {
    width: 10px;
    height: 16px;
    background: url($imgPath + "ico_prev.svg") no-repeat center;
    position: absolute;
    left: calc(50% - 120px);
    bottom: 0;

    &.white {
      background-image: url($imgPath + "ico_w_prev.svg");
      bottom: -6.5px;
    }

    &.slick-disabled {
      background-image: url($imgPath + "ico_g_prev.svg");
    }

    &.next {
      background-image: url($imgPath + "ico_next.svg");
      right: calc(50% - 120px);
      left: auto;

      &.white {
        background-image: url($imgPath + "ico_w_next.svg");
      }

      &.slick-disabled {
        background-image: url($imgPath + "ico_g_next.svg");
      }
    }
  }

  &-dots {
    width: 200px;
    height: 2px;
    background: $sliderDot;
    display: flex;
    margin: 27px auto 7px;

    li {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        font-size: 0;
        width: 100%;
        height: 100%;
      }

      &.slick-active {
        button {
          background: $fontBlack;
        }
      }
    }

    &.white {
      background: $colBlack40;

      li {
        &.slick-active {
          button {
            background: $colWhite;
          }
        }
      }
    }
  }
  
  &-list {
    margin: 0 -8px;
  }
}

.schedule {
  background: linear-gradient(to right, #ff6933, #142266);
  padding: 40px 20px 20px;

  &-title {
    @extend .font-oneMobile;
    font-size: 36px;
    letter-spacing: -1.44px;
    color: $colWhite;
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
  }

  &-item {
    margin-bottom: 60px;

    h2 {
      @extend .font-oneMobile;
      letter-spacing: -1.6px;
      color: $fontBlack;
      font-size: 40px;
      line-height: 1;
      display: flex;
      align-items: center;
    }
  }

  &-btn {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: -0.56px;
    color: $fontBlack;
    @extend .font-sCoreDream;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      width: 12px;
      height: 7px;
      background: url($imgPath + "schedule_arrow.svg") no-repeat center;
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      transition: .2s;
    }

    .open {
      display: none;
    }

    &.on {
      &::after {
        transform: translateY(-50%);
      }

      .open {
        display: block;
      }
      
      .close {
        display: none;
      }
    }
  }

  &-slide {
    height: auto;
    overflow: hidden;
    position: relative;
    height: 2px;
    margin-top: 10px;

    &.on {
      height: auto;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: $colNavy;
      position: absolute;
      top: 0;
      left: 0;
    }

    table {
      background: $colWhite;
      th {
        padding-left: 20px;
        text-align: left;
      }

      td {
        font-size: 14px;
        border-bottom: 1px solid $borderGray;
        text-align: center;
        height: 60px;
        color: $fontLightBlack;

        & + td,
        &:nth-last-child(5) {
          border-left: 1px solid $borderGray;
        }

        &:first-child {
          border: none;
          background: $colWhite !important;
        }
      }

      tr {
        &:first-child {
          border-top: 1px solid $borderGray;
          
          td:first-child {
            padding: 20px;
            text-align: left;
            vertical-align: top;
            font-size: 15px;
            font-weight: 600;
            color: $fontBlack;
          }
        }

        &:nth-child(2n) {
          td {
            background: $colSliderTop;
          }
        }
      }
    }
  }

  &-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: $fontBlack;

    p {
      width: 120px;
      letter-spacing: -0.6px;
      text-align: right;
      margin: 0 8px 0 0;

      &:nth-of-type(2) {
        width: 58px;
        text-align: center;
        margin: 0;
      }

      &:nth-of-type(3) {
        text-align: left;
        margin: 0 0 0 8px;
      }
    }

    img {
      max-width: 40px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    .main {
      &-item {
        padding: 60px 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .lanking {
    flex-direction: column;

    .right {
      width: 100%;
      margin: 60px 0 0;
      padding: 0;

      a {
        padding: 30px 20px;
        height: 160px;

        &::after {
          bottom: 23px;
        }
      }
    }

    &-tab {
      justify-content: flex-end;
    }

    &-tabcon {
      min-height: 297px;
    }

    &-table {
      margin-top: 20px;

      col {
        &:first-child {
          width: 40px !important;
        }

        &:nth-child(2) {
          width: 24px !important;
        }
      }

      img {
        max-width: 24px;
      }

      th {
        &:last-child {
          padding-right: 5px;
        }
      }

      td {
        height: 44px;
        padding: 0 5px;
        font-size: 13px;

        &:first-child {
          font-size: 18px;
        }

        &:nth-child(2) {
          padding-top: 4px;
        }

        &:nth-child(3) {
          font-size: 14px;
          padding-left: 8px;
        }

        &:last-child {
          padding-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slider {
    height: auto;

    h2 {
      height: 80px;
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: -0.96px;
      background-size: auto 80px;
      padding-left: 75px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &-title {
      margin-bottom: 30px;
    }

    &-tab {
      &-btn {
        li {
          margin-bottom: 10px;

          button {
            font-size: 15px;
          }
        }
      }
    }

    &-item {
      margin: 0 16px 0 0;
    }
  }

  .photo {
    &-item {
      margin: 0 16px 0 0;
    }
  }

  .container {
    .main {
      &-contents {
        .team {
          &-item {
            margin: 0 16px 0 0;
          }

          &-logo {
            padding: 20px;
          }

          &-name {
            font-size: 15px;
          }
        }
      }
    }
  }

  .slick {
    &-list {
      margin: 0 -16px 0 0;
    }

    &-dots {
      width: 100%;
    }
  }
}