/*이미지경로*/
$imgPath: "/img/";

//배경
$bgMain: #ebedf5;

// 메인색상
$colWhite: #fff;
$colBlue: #295fcc;
$colNavy: #142266;
$colGray: #d3d4db;
$colFooter: #26282e;

//버튼
$btnBlue: #253db8;
$btnGray: #9698a3;
$btnLightGray: #e1e3eb;

//폰트
$fontBlack: #222;
$fontLightBlack: #444;
$fontGray: #75757d;
$fontFooter: #adb2b8;
$fontFooter2: #8b8f94;

//기타
