/*이미지경로*/
$imgPath: "/img/";

//배경
$bgMain: #ebedf5;

// 메인색상
$colWhite: #fff;
$colBlue: #295fcc;
$colNavy: #142266;
$colGray: #d3d4db;
$colFooter: #26282e;

//버튼
$btnBlue: #253db8;
$btnGray: #9698a3;
$btnLightGray: #e1e3eb;

//폰트
$fontBlack: #222;
$fontLightBlack: #444;
$fontGray: #75757d;
$fontFooter: #adb2b8;
$fontFooter2: #8b8f94;

//기타
$colOrange: #ff6933;
$colFooterBorder: #515358;
$colFooterSelect: #7d7e82;
$colFooterSelect2: #d3d4d5;
$colSliderTop: #f5f6fa;

$colBlack40: rgba(0, 0, 0, 0.4);
$colWhitek40: rgba(255, 255, 255, 0.4);
$colWhitek30: rgba(255, 255, 255, 0.3);

$sliderDot: #cacddb;

$borderGray: #e4e5e9;